@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  @variants hover, focus, active {
    .bg-primary {
      @apply bg-blue-600;
    }
    .bg-secondary {
      @apply bg-pink-600;
    }
    .bg-danger {
      @apply bg-red-600;
    }
    .bg-success {
      @apply bg-green-600;
    }
    .bg-disabled {
      @apply bg-gray-400;
    }
    .bg-translucent {
      @apply bg-opacity-25;
    }
    .text-primary {
      @apply text-blue-600;
    }
    .text-danger {
      @apply text-red-600;
    }
    .text-success {
      @apply text-green-600;
    }
    .text-success-dark {
      @apply text-green-400;
    }
    .text-link {
      @apply text-blue-600;
    }
    .text-link-hover {
      @apply text-blue-800;
    }
    .text-link-active {
      @apply text-blue-900;
    }
    .border-default {
      @apply border-2 border-gray-400;
    }
    .border-primary {
      @apply border-2 border-blue-600;
    }
  }
}
